thesis.aux
thesis.bbl
thesis.blg
thesis.idx
thesis.ilg
thesis.ind
thesis.lof
thesis.log
thesis.lol
thesis.lot
thesis.nlo
thesis.nls
thesis.out
thesis.toc
missfont.log
synopsis.aux
synopsis.bbl
synopsis.blg
synopsis.idx
synopsis.ilg
synopsis.ind
synopsis.log
synopsis.nlo
synopsis.nls
synopsis.out
defense-ppt/defense.aux
defense-ppt/defense.blg
defense-ppt/defense.log
defense-ppt/defense.nav
defense-ppt/defense.out
defense-ppt/defense.toc
tmp
