./scripted.combine_4_aff_plot_files_and_plot.sh plot_diffdiff_VM1_aff_rxkbps_versus_samediff_VM1_cpu_bytetcp-affonly-highrates-benchmark-final-metrics plot_diffdiff_VM2_aff_txkbps_versus_samediff_VM2_cpu_bytetcp-affonly-highrates-benchmark-final-metrics plot_diffdiff_VM1_aff_rxkbps_versus_samediff_PM1_cpu_bytetcp-affonly-highrates-benchmark-final-metrics plot_diffdiff_VM2_aff_txkbps_versus_samediff_PM1_cpu_bytetcp-affonly-highrates-benchmark-final-metrics
